/* ============================= */
/* LAYOUT GERAL */
/* ============================= */

.container{
display:flex;
gap:20px;
padding:10px;
font-family:Arial, sans-serif;
}


/* ============================= */
/* FANOUTS ESQUERDA */
/* ============================= */

.fanouts{
width:220px;
}

#listaFanouts{
margin-top:10px;
display:flex;
flex-direction:column;
gap:6px;
}

.fanout-item{
background:#f1f1f1;
padding:6px;
border-radius:6px;
cursor:pointer;
font-size:13px;
}

.fanout-item.selecionado{
background:#0d6efd;
color:white;
}


/* ============================= */
/* AREA ESTEIRA */
/* ============================= */

.esteira-area{
display:grid;
grid-template-columns: auto 70px auto;
gap:15px;
align-items:start;
}


/* ============================= */
/* COLUNAS */
/* ============================= */

.coluna{
display:flex;
flex-direction:column;
gap:12px;
align-items:flex-end;
}

#mesasDireita{
align-items:flex-start;
}

.cabecalho-lado{
font-weight:700;
font-size:14px;
text-align:center;
margin-bottom:4px;
}


/* ============================= */
/* ESTEIRA */
/* ============================= */

.esteira{
width:70px;
background:#353535;
border-radius:10px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-between;
padding:10px 0;
height:100%;
}

.seta{
font-size:32px;
color:white;
}


/* ============================= */
/* MESA */
/* ============================= */

.mesa{
width:300px;
background:#f7f7f7;
border:1px solid #ddd;
border-radius:10px;
padding:8px 10px;

display:flex;
flex-direction:column;
gap:4px;
font-size:13px;
}


/* ============================= */
/* TITULO */
/* ============================= */

.numero-mesa{
font-weight:600;
font-size:13px;
}


/* ============================= */
/* FANOUT GRID */
/* ============================= */

.fanouts-mesa{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:4px;
}


/* ============================= */
/* FANOUT ITEM */
/* ============================= */

.fanout-item-mesa{
background:white;
border:1px solid #ccc;
border-radius:5px;
padding:2px 4px;
font-size:12px;
text-align:center;
}


/* ============================= */
/* INPUT MANUAL */
/* ============================= */

.input-fanout{
width:100%;
box-sizing:border-box;
font-size:12px;
padding:2px 4px;
border:1px solid #ccc;
border-radius:4px;
}


/* ============================= */
/* BOTÃO MANUAL */
/* ============================= */

.manual-add{
margin-top:3px;
font-size:12px;
color:#0d6efd;
cursor:pointer;
}


/* ============================= */
/* POSIÇÕES */
/* ============================= */

.posicoes{
font-size:12px;
border-top:1px solid #eee;
padding-top:2px;
color:#444;
}